@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "ContactUs";
}

<h1>Contact Us</h1>
<p>Use the following details provided if you are looking to contact us:</p>
<p>Where to find us: 56 Indigo Drive, leeway, 9674, South Africa</p>
<p>Telephone number: 021 268 0107</p>
<p>Email Address: KhumaloCraft@gmail.com</p>
