@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to KhumaloCraft</h1>
    <p>We have created this website to allow artisans from around the world to display their work.</p>
    <p>This Establishment was created to promote atisans and their work and provide them with exposure.</p>
    <p>
        The platform also provides you with the option to purchase the work done by the artisans that have blessed<br />
        with their beautiful work.
    </p>
</div>