@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "MyWork";
}

<h1>My Work Page</h1>
<p>
	KhumaloCraft Emporium is an e-commerce platform that showcases handcrafted products from craftsmen throughout the world.<br />
	Their primary purpose is to link these craftsmen with a discriminating global audience that values the distinctness and <br />
	craftsmanship of handmade goods.
</p>

<h2>Our Craftwork</h2>
<div class="work-item">
	<img src="~/images/craft1.jpg" alt="Craft 1" />
	<h3>Beautiful Vase</h3>
	<p>Price: R150</p>
</div>

<div class="work-item">
	<img src="~/images/craft2.jpg" alt="Craft 2" />
	<h3>Handmade Basket</h3>
	<p>Price: R100</p>
</div>

<div class="work-item">
	<img src="~/images/craft3.jpg" alt="Craft 3" />
	<h3>Decorative Plate</h3>
	<p>Price: R70</p>
</div>
